<nav class="navbar navbar-fixed-top navbar-default">      
    
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ path("abook_homepage") }}"><img style="width: 20px" src="{{ asset('bundles/abook/img/favicon.ico') }}"/>&nbsp;Address Book</a>
        </li>
        <li>
            <a href="{{ path("abook_contacts_add") }}"><div class="glyphicon glyphicon-plus-sign"></div>&nbsp;Add Contact</a>
        </li>
        <li>
            <a href="{{ path("abook_contacts_list") }}"><div class="glyphicon glyphicon-list"></div>&nbsp;List Contact</a>
        </li>        
    </ul>
    
</nav><!--nav-->