{% extends "AbookBundle:Layout:layout.html.twig" %}

{% block title %}Edit Contact{% endblock %}

{% block body -%}

<section class="col col-lg-8">
    <fieldset>
        <legend>Contacts Edit</legend>

    {{ form(edit_form) }}        

    </fieldset>
</section>

{% endblock %}
