{% extends "AbookBundle:Layout:layout.html.twig" %}

{% block title %}Add Contact{% endblock %}

{% block body -%}

<section class="col col-lg-8">
    <fieldset>
        <legend>Contacts Edit</legend>

    {{ form(form) }}

    </fieldset>
</section>

<style type="text/css">
    label { margin-top: 5px; margin-bottom: 5px }
</style>
{% endblock %}
