{% extends "AbookBundle:Layout:layout.html.twig" %}

{% block title %} Add Contact {% endblock %}

{% block body %}

<section class="col col-lg-8">
    
    <fieldset>
        <legend>Edit Contact</legend>   

        {{ form(form) }}

    </fieldset>
    <br />
    <span>{{ message }}</span>
</section>

{% endblock body %} 
